In [2]:
import pandas as pd

In [3]:
#read the data set
df=pd.read_csv('homeprices.csv')
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [4]:
df.shape

(13, 3)

In [5]:
df.isnull().sum()

town     0
area     0
price    0
dtype: int64

In [6]:
#object represents catagorial labels.so,we have to canvert into numeric
dummies=pd.get_dummies(df.town)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [7]:
#axis=1 represents the columns and 0 represents rows
merged=pd.concat([df,dummies],axis=1)
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [8]:
final=merged.drop(['town'],axis=1)

In [9]:
final

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
lr=LinearRegression()

In [12]:
#seperate train & test data
from sklearn.model_selection import train_test_split

In [13]:
final.keys()

Index(['area', 'price', 'monroe township', 'robinsville', 'west windsor'], dtype='object')

In [14]:
x=final.drop(['price'],axis=1)
y=final['price']

In [15]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
#train the model
lr.fit(train_x,train_y)

LinearRegression()

In [17]:
# Predictions
pred_y=lr.predict(test_x)

In [18]:
pred_y

array([627064.10256411, 558944.44444449, 529196.58119663])

In [19]:
test_x

    area  monroe township  robinsville  west windsor
11  3100                0            1             0
9   2600                0            1             0
0   2600                1            0             0

In [20]:
#predict the value of 34,000 sqm in location robinsvilla
lr.predict([[34000,0,1,0]])

array([4836858.97435672])

In [21]:
lr.score(train_x,train_y)

0.9555542061462596

In [22]:
lr.score(test_x,test_y)

0.7057756384871243